body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #265073;
    padding: 5px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 5px solid #FFC700;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.judul {
    font-size: 40px;
    font-weight: bold;
    font-family: courier;
    color: #fff;
    margin-left: 30px
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    font-family: Arial;
    text-decoration: none;
}

.menu li a:hover {
    color: #FFC700;
    text-decoration: underline;
}

section {
    display: flex;
    color: #2D9596;
    font-family: 'comic sans ms';
    margin: 0px 15px 50px 15px;
}

.img1 {
    width: 500px;
    height: 500px;
}

a.tbl-kuning {
    background: #FFC700;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

a.tbl-kuning:hover {
    background-color: #265073;
    transition: 0.2s;
}

.img2 {
    width: 500px;
    height: 300px;
    border: 5px solid #FFC700;
    border-radius: 15px;
}

footer {
    background-color: #F1FADA;
    color: #333;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}